#
# OpenEnergyMonitor
#
# This service will backup log file directory structure
# including files with proper permission so that they are 
# restored on startup (by default /var/log is a tmpfs)
# 

[Unit]
Description=Backups and restores directories and file in /var/log
After=local-fs.target

# To start this service quite early in the boot process
DefaultDependencies=no    

# Because no default dep, to make systemd run ExecStop on shutdown
Conflicts=shutdown.target  

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/pi/emonpi/logtools/oem-varlog.manage restore
ExecStop=/home/pi/emonpi/logtools/oem-varlog.manage backup
ExecStop=/home/pi/emonpi/logtools/oem-varlog.manage archive

[Install]
WantedBy=basic.target     # To start this service before any user service starts
